<!-- Validation failure messages -->

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add User</h3>
      </div>
      <div class="panel-body">
        <form action="/create_user" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for username -->
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
              Username
            </label>
            <div class="col-sm-10">
              <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @user.username %>">
            </div>
          </div>

          <!-- Label and input for email -->
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              E-mail
            </label>
            <div class="col-sm-10">
              <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @user.email %>">
            </div>
          </div>

          <!-- Label and input for password -->
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">
              password
            </label>
            <div class="col-sm-10">
              <input type="text" id="password" name="password" placeholder="Password" class="form-control" value="<%= @user.password %>">
            </div>
          </div>

          <!-- Label and input for pow_points -->
          <div class="form-group">
            <label for="pow_points" class="col-sm-2 control-label">
              Pow Points
            </label>
            <div class="col-sm-10">
              <input type="text" id="pow_points" name="pow_points" placeholder="Pow_points" class="form-control" value="<%= @user.pow_points %>">
            </div>
          </div>

          <!-- Label and input for user_photo -->
          <div class="form-group">
            <label for="user_photo" class="col-sm-2 control-label">
              User Photo
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_photo" name="user_photo" placeholder="User_photo" class="form-control" value="<%= @user.user_photo %>">
            </div>
          </div>

          <!-- Label and input for pro -->
          <div class="form-group">
            <label for="pro" class="col-sm-2 control-label">
              Pro
            </label>
            <div class="col-sm-10">
              <input type="text" id="pro" name="pro" placeholder="Pro" class="form-control" value="<%= @user.pro %>">
            </div>
          </div>

          <!-- Label and input for coast -->
          <div class="form-group">
            <label for="coast" class="col-sm-2 control-label">
              Coast
            </label>
            <div class="col-sm-10">
              <input type="text" id="coast" name="coast" placeholder="Coast" class="form-control" value="<%= @user.coast %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create User
              </button>
              or
              <a href="/users">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
